$gridColumnWidth: 80px;
$gridGutterWidth: 20px;

@import 'sass-bootstrap/lib/bootstrap';


.form-horizontal {
	margin: 0px;
}

.modal-header {
	text-align: center;
}

.modal-wide {
	width: 1200px;
	margin-left: -600px;
}

body > .container {
	margin-top:60px;
}

.talks-mainlist {
	.hero-unit {
		margin: 0;
		width: 90%
	}

	th {
		cursor: pointer;
		text-align:center;
	}
}

.talk-new {
	.dl-horizontal dt { width: 90px; }
	.dl-horizontal dd { margin-left: 110px; }
	.form-horizontal {
		.controls { 
			margin-left: 120px; 
		}
		.control-label { 
			text-align: left; 
			width: 120px;
		}

		textarea { 
			width: 600px;
		}
	} 
}
