<div class="modal-header">
	<button type="button" class="close close-modal">&times;</button>
	<h3>LOGIN</h3>
</div>

<form class="form-horizontal">

	<div class="modal-body">
		{{> tmpl_errorMessage }}
		<div class="control-group {{#unless email}}{{#if type}}{{type}}{{/if}}{{/unless}}">
			<label class="control-label" for="inputStartDate">EMAIL:</label>
			<div class="controls">
				<input type="text" id="inputEmail" name="email" class="" value="{{email}}" placeholder="Enter email address" />
			</div>
		</div>

		<div class="control-group {{#unless password}}{{#if type}}{{type}}{{/if}}{{/unless}}">
			<label class="control-label" for="inputEndDate">PASSWORD:</label>
			<div class="controls">
				<input type="password" id="inputPassword" name="password" class="" value="{{password}}" placeholder="Enter password" />
			</div>
		</div>

		<p class="text-right" style="margin-right:10px;">Not a member? <a href="#" class="account-signup">Register</a></p>
		<p class="text-right" style="margin-right:10px;">Forgot password? <a href="#" class="account-forgotpw">Click here</a></p>
	</div>

	<div class="modal-footer">
		<button type="submit"  name="submit-action" class="btn btn-primary btn-feedback" data-loading-text="Processing...">LOGIN</button>
	</div>
</form>