<div class="modal-header">
	<button type="button" class="close close-modal">&times;</button>
	<h3>LOGOUT</h3>
</div>

<form class="form-horizontal">

	<div class="modal-body">
		{{> tmpl_errorMessage }}

		<p class="text-center" >Click to confirm logout: <a href="#" class="logout-confirm">LOGOUT</a></p>
	</div>
</form>