<div class="navbar-inner">
	<div class="container">	
		<a href="./index.html" class="brand">Saks Institue of Technology</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
				{{#unless _loggedIn}}
				<li class="login"><a href="#">Login</a></li>
				<li class="register"><a href="#">Register</a></li>
				{{/unless}}

				{{#if _loggedIn}}
				<li class="logout"><a href="#">Logout</a></li>
				<li class="submit-talk"><a href="#">Submit Talk</a><li>
				<li class="account-pref"><a href="#">Account Preference</a><li>
				{{/if}}
			</ul>

			{{#if _loggedIn}}
			<ul class="nav pull-right">
				<li class="username"><a href="#">Welcome {{firstName}} {{lastName}}</a></li>
			</ul>
			{{/if}}
		</div>
	</div>
</div>
