{{!empty FeedTmpl template}}

<div class="feed-users">
	<ul class="nav nav-list">
		<li class="nav-header">USERS</li>
		<li><a href="#">John Campbell</a></li>
		<li><a href="#">Michel Richard</a></li>
	</ul>
</div>

<div class="feed-notices">
	<ul class="nav nav-list">
		<li class="nav-header">FEED</li>
		<li><a href="#">Michel just logged in</a></li>
		<li><a href="#">John just logged in</a></li>
	</ul>
</div>
