{{!empty FeedTmpl template}}

<h4 class="dashboard">DASH BOARD</h4>

<div class="feed-users">
</div>

<div class="feed-notices">
	<ul class="nav nav-list">
		<li class="nav-header">FEED</li>
	</ul>
	<ul class="nav nav-list">
		<li><a href="#">Michel just logged in</a></li>
		<li><a href="#">John just logged in</a></li>
	</ul>
</div>
