{{#if _mine}}
	<h2>Talks submitted by: {{firstName}} {{lastName}}, {{title}}</h2>
{{/if}}

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th class="talk-header" data-key="title">TITLE</th>
			<th class="talk-header" data-key="description">DESCRIPTION</th>
			<th class="talk-header" data-key="createdBy">CREATED BY</th>
			<th class="talk-header" data-key="createdDate">CREATED DATE</th>
			<th class="talk-header" data-key="votes">VOTES</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
